//
// user.scss
// Use this to write your custom SCSS
//
// Alternative style

html {
  scroll-behavior: smooth;
}

[id^="header-"] {
  scroll-margin-top: 138px;
}

[id^="role-"] {
  scroll-margin-top: 138px;
}

.competencies-sticky {
  top: 100px;
  max-height: calc(100vh - 100px);
  overflow-y: auto;
}

.bg-skill-wheel {
  position: relative;
  background-image: url("/static/assets/img/landing/grunge-black-concrete-textured-background.webp");
  background-position: center;
  background-size: cover;
}

.bg-skill-wheel::before {
  position: absolute;
  inset: 0;
  z-index: 0;
  content: "";
  background-color: rgba(18, 21, 25, .5);
  border-radius: inherit;
}

.bg-skill-wheel > * {
  position: relative;
  z-index: 1;
}
