//
// user.scss
// Use this to write your custom SCSS
//
// Alternative style

html {
  scroll-behavior: smooth;
}

[id^="header-"] {
  scroll-margin-top: 138px;
}

.competencies-sticky {
  top: 100px;       /* adjust for your header offset */
  max-height: calc(100vh - 100px);
  overflow-y: auto;
}
