.bar {
  &:focus {
    outline: none;
  }
}

.bar-group {
  outline: none;
  .bar {
    transition: all .2s ease-in-out;
  }
  .bar-segment {
    transition: all .2s ease-in-out;
  }
  .bar-outline {
    stroke-opacity: 0;
    stroke-width: 3;
    transition: all .2s ease-in-out;
  }

  &:focus-within {
    outline: none;
    .bar {
      fill-opacity: .5;
    }

    .bar-segment {
      fill-opacity: .5;
    }

    .bar-outline {
      stroke-opacity: 1;
      stroke-width: 3;
    }
  }

  &:hover {
    outline: none;
    .bar {
      fill-opacity: .5;
    }

    .bar-segment {
      fill-opacity: .8;
    }

    .bar-outline {
      stroke-opacity: 1;
      stroke-width: 3;
    }
  }
}
