{% extends "main/base.html" %}
{% load static %}
{% block title %}
    Digital Research Competencies Framework
{% endblock title %}
{% block content %}
    <!-- Hero -->
    <section class="bg-dark position-relative py-5">
        <div class="d-none d-dark-mode-block position-absolute top-0 start-0 w-100 h-100"
             style="background-color: rgba(255,255,255, .03)"></div>
        <div class="container position-relative z-2 py-5 mb-4 mb-sm-5"
             data-bs-theme="dark">
            <div class="row pb-5 mb-2 mb-sm-0 mb-lg-3">
                <div class="col-lg-10 col-xl-9">
                    <!-- Breadcrumb -->
                    <nav aria-label="breadcrumb">
                        <ol class="pt-lg-3 pb-lg-4 pb-2 breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="{% url 'index' %}">Home</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">About us</li>
                        </ol>
                    </nav>
                    <h1 class="display-2 pb-2 pb-sm-3">We believe in the success of every business</h1>
                    <ul class="list-unstyled d-flex flex-wrap mb-0">
                        <li class="d-flex text-body py-1 me-4">
                            <i class="fa-solid fa-check fs-lg text-primary me-2"></i>
                            Forecasting and recommendations
                        </li>
                        <li class="d-flex text-body py-1 me-4">
                            <i class="fa-solid fa-check fs-lg text-primary me-2"></i>
                            Identification of patterns, analysis
                        </li>
                        <li class="d-flex text-body py-1">
                            <i class="fa-solid fa-check fs-lg text-primary me-2"></i>
                            Segmentation by various methods
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- About -->
    <section class="container position-relative z-3" style="margin-top: -135px;">
        <div class="rounded-5 overflow-hidden">
            <div class="jarallax ratio ratio-16x9" data-jarallax data-speed="0.6">
                <div class="jarallax-img"
                     style="background-image: url({% static 'assets/img/blog/single/image.jpg' %})"></div>
            </div>
        </div>
        <div class="row pt-5 mt-n2 mt-sm-0 mt-md-2 mt-lg-4 mt-xl-5">
            <div class="col-md-6 col-lg-5">
                <div class="fs-sm text-uppercase mb-3">What we do</div>
                <h2 class="display-6">We are a team who create marketing strategies</h2>
            </div>
            <div class="col-md-6 col-xl-5 offset-lg-1 offset-xl-2 pt-1 pt-sm-2 pt-md-5">
                <p class="fs-xl">
                    Morbi et massa fames ac scelerisque sit commodo dignissim <strong>faucibus quisque proin</strong> lectus laoreet sem adipiscing sollicitudin erat massa tellus lorem enim aenean phasellus in hendrerit interdum lorem proin pretium dictum urna suspendisse quis risus et.
                </p>
                <p class="fs-xl">
                    Sit congue tellus urna phasellus sagittis interdum sed laoreet eget curabitur. <strong>Vel magna sit aliquet viverra morbi massa mattis urna,</strong> feugiat egestas tincidunt ipsum diam quam massa amet odio nisi duis dolor.
                </p>
                <p class="fs-xl mb-0">
                    Ac facilisis eros sem faucibus aliquet venenatis amet fermentum nisi. Mauris consectetur sem malesuada. viverra a non sapien odio id risus volutpat at.
                </p>
            </div>
        </div>
    </section>
    <!-- Approach -->
    <section class="pt-5 mt-md-2 mt-xl-4 mt-xxl-5">
        <div class="container pt-2 pt-sm-4 pt-lg-5 mt-xxl-2">
            <div class="fs-sm text-uppercase mb-3">Our Mission</div>
            <h2 class="display-6 pb-3 mb-lg-4">Professional approach</h2>
            <div class="row row-cols-1 row-cols-lg-3 gy-4 gy-sm-5 gx-4 pb-3 pb-md-4 pb-lg-5 mb-md-3 mb-lg-0">
                <!-- Item -->
                <div class="col text-center">
                    <div class="card border-0 bg-secondary rounded-5 h-100">
                        <div class="card-body">
                            <svg class="d-block mt-1 mt-sm-0 mb-4"
                                 width="40"
                                 height="40"
                                 viewBox="0 0 40 40"
                                 xmlns="http://www.w3.org/2000/svg">
                                <g class="text-info">
                                <path d="M20.0004 36.0226L10.982 21.3535C9.42594 23.3156 8.49609 25.7968 8.49609 28.4955C8.49609 34.8492 13.6467 39.9998 20.0004 39.9998C26.3541 39.9998 31.5047 34.8492 31.5047 28.4955C31.5047 25.7969 30.5749 23.3156 29.0188 21.3535L20.0004 36.0226Z" fill="currentColor">
                                </path>
                                </g>
                                <g class="text-primary">
                                <path d="M39.3962 0H0.605469L20.0009 31.5477L39.3962 0ZM25.7601 7.62359L20.0009 16.9914L14.2416 7.62359H25.7601Z" fill="currentColor">
                                </path>
                                </g>
                            </svg>
                            <h3 class="h4">Individual approach</h3>
                            <p class="mb-0">
                                Find aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur neque congue aliqua dolor.
                            </p>
                        </div>
                    </div>
                </div>
                <!-- Item -->
                <div class="col text-center">
                    <div class="card border-0 bg-secondary rounded-5 h-100">
                        <div class="card-body">
                            <svg class="d-block mt-1 mt-sm-0 mb-4"
                                 width="40"
                                 height="40"
                                 viewBox="0 0 40 40"
                                 xmlns="http://www.w3.org/2000/svg">
                                <g class="text-info">
                                <path d="M20.0004 36.0226L10.982 21.3535C9.42594 23.3156 8.49609 25.7968 8.49609 28.4955C8.49609 34.8492 13.6467 39.9998 20.0004 39.9998C26.3541 39.9998 31.5047 34.8492 31.5047 28.4955C31.5047 25.7969 30.5749 23.3156 29.0188 21.3535L20.0004 36.0226Z" fill="currentColor">
                                </path>
                                </g>
                                <g class="text-primary">
                                <path d="M39.3962 0H0.605469L20.0009 31.5477L39.3962 0ZM25.7601 7.62359L20.0009 16.9914L14.2416 7.62359H25.7601Z" fill="currentColor">
                                </path>
                                </g>
                            </svg>
                            <h3 class="h4">Individual approach</h3>
                            <p class="mb-0">
                                Find aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur neque congue aliqua dolor.
                            </p>
                        </div>
                    </div>
                </div>
                <!-- Item -->
                <div class="col text-center">
                    <div class="card border-0 bg-secondary rounded-5 h-100">
                        <div class="card-body">
                            <svg class="d-block mt-1 mt-sm-0 mb-4"
                                 width="40"
                                 height="40"
                                 viewBox="0 0 40 40"
                                 xmlns="http://www.w3.org/2000/svg">
                                <g class="text-info">
                                <path d="M20.0004 36.0226L10.982 21.3535C9.42594 23.3156 8.49609 25.7968 8.49609 28.4955C8.49609 34.8492 13.6467 39.9998 20.0004 39.9998C26.3541 39.9998 31.5047 34.8492 31.5047 28.4955C31.5047 25.7969 30.5749 23.3156 29.0188 21.3535L20.0004 36.0226Z" fill="currentColor">
                                </path>
                                </g>
                                <g class="text-primary">
                                <path d="M39.3962 0H0.605469L20.0009 31.5477L39.3962 0ZM25.7601 7.62359L20.0009 16.9914L14.2416 7.62359H25.7601Z" fill="currentColor">
                                </path>
                                </g>
                            </svg>
                            <h3 class="h4">Individual approach</h3>
                            <p class="mb-0">
                                Find aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur neque congue aliqua dolor.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- How we work (Steps) -->
    <section class="container py-5 mt-1 mt-sm-2 mt-xl-4 mt-xxl-5">
        <div class="row align-items-center pt-2 pt-sm-3 pt-md-4 pt-lg-5 mt-xl-2 mt-xxl-3">
            <div class="col-md-6 col-xl-5 pb-3 pb-md-0 mb-4 mb-md-0">
                <div class="ratio ratio-1x1 d-flex align-items-center position-relative rounded-circle overflow-hidden bg-size-cover mx-auto"
                     style="max-width: 530px;
                            background-image: url(assets/img/about/agency/steps-image.jpg)">
                    <div class="bg-black position-absolute top-0 start-0 w-100 h-100 opacity-50"></div>
                    <div class="position-relative z-2 p-4" data-bs-theme="dark">
                        <div class="text-center mx-auto" style="max-width: 275px;">
                            <span class="d-block text-body fs-sm text-uppercase mb-3">How we work</span>
                            <h2 class="display-6 mb-0">The key to success</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-5 offset-xl-1">
                <div class="ps-md-4 ps-xl-0">
                    <div class="steps steps-hoverable">
                        <div class="step py-3 py-xl-4">
                            <div class="step-number">
                                <div class="step-number-inner">01</div>
                            </div>
                            <div class="step-body">
                                <h3 class="h5 pb-1 mb-2">Formulation of the problem</h3>
                                <p class="mb-0">
                                    Find aute irure dolor in reprehenderi voluptate velit esse cillum dolore eu fugiat nulla pariatur am luctus.
                                </p>
                            </div>
                        </div>
                        <div class="step py-3 py-xl-4">
                            <div class="step-number">
                                <div class="step-number-inner">02</div>
                            </div>
                            <div class="step-body">
                                <h3 class="h5 pb-1 mb-2">Assessment of the current state</h3>
                                <p class="mb-0">
                                    Risus quam quis at euismod vitae dui elementu eu in diam malesuada mattis ut urna integer erat nisi nibh.
                                </p>
                            </div>
                        </div>
                        <div class="step py-3 py-xl-4">
                            <div class="step-number">
                                <div class="step-number-inner">03</div>
                            </div>
                            <div class="step-body">
                                <h3 class="h5 pb-1 mb-2">Business plan creation</h3>
                                <p class="mb-0">
                                    A sagittis morbi massa venenatis, egestas viverra ac elit nibh tellus nisi in nec tellus mauris feugiat gravida.
                                </p>
                            </div>
                        </div>
                        <div class="step py-3 py-xl-4">
                            <div class="step-number">
                                <div class="step-number-inner">04</div>
                            </div>
                            <div class="step-body">
                                <h3 class="h5 pb-1 mb-2">Strategy implementation</h3>
                                <p class="mb-0">
                                    Elementum purus, nisl ipsum sit. Amet sit praesent proin sit cras. Leo sed praesent nunc  vel nec risus.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
