{% extends "main/base.page.html" %}
{% load static %}
{% block title %}
    DIRECT Framework - My Teams
{% endblock title %}
{% block breadcrumb_items %}
    <li class="breadcrumb-item">
        <a href="{% url 'framework_overview' %}">Framework</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">My Teams</li>
{% endblock breadcrumb_items %}
{% block content %}
    <section id="my-team">
        <div class="row">
            <div class="col-lg-9 col-xl-8 pe-lg-4 pe-xl-0">
                <h1 class="pb-2 pb-lg-3">My Teams</h1>
                <a class="btn btn-primary mb-4" href="{% url 'create-team' %}">Create Team</a>
                <p class="fs-lg mb-5">
                    This page presents the teams you are in in the Digital Research
                    Competencies Framework.
                </p>
                <table class="table table-bordered table-hover">
                    <thead class="table-light">
                        <tr>
                            <th scope="col" style="width: 20%;">Team Name</th>
                            <th scope="col" style="width: 20%;">Description</th>
                            <th scope="col">Manager</th>
                            <th scope="col" style="width: 30%;">Members</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for team in teams %}
                            <tr>
                                <td>
                                    <strong>{{ team.name }}</strong>
                                </td>
                                <td>{{ team.description }}</td>
                                <td>{{ team.manager }}</td>
                                <td>
                                    <ul class="list-unstyled mb-0">
                                        {% for member in team.members %}<li>{{ member }}</li>{% endfor %}
                                    </ul>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <aside class="col-lg-3 offset-xl-1">
                <div class="offcanvas-lg offcanvas-end" id="sidebar">
                    <div class="offcanvas-header">
                        <h4 class="offcanvas-title">Sidebar</h4>
                        <button class="btn-close ms-auto"
                                type="button"
                                data-bs-dismiss="offcanvas"
                                data-bs-target="#sidebar"
                                aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <h4 class="pt-1 pt-lg-0 mt-lg-n2"></h4>
                    </div>
                </div>
            </aside>
        </div>
    </section>
{% endblock content %}
