{% extends "main/base.page.html" %}
{% load static %}
{% block title %}
    Digital Research Competencies Framework
{% endblock title %}
{% block breadcrumb_items %}
    <li class="breadcrumb-item">
        <a href="{% url 'competencies' %}">Framework</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">Roles</li>
{% endblock breadcrumb_items %}
{% block content %}
    <section id="roles" class="container">
        {% if sample_data %}
            {% for profile in sample_data %}
                <section id="role-{{ profile.user_id }}" class="overflow-hidden pb-5">
                    <div class="pb-sm-3 mb-md-2 mb-lg-3">
                        <div class="row g-4">
                            <div class="col-md-7 {% if forloop.counter|divisibleby:"2" %}order-md-2{% endif %}"
                                 data-aos="{% if forloop.counter|divisibleby:"2" %}fade-left{% else %}fade-right{% endif %}"
                                 data-aos-duration="600"
                                 data-aos-offset="280"
                                 data-disable-parallax-down="md">
                                <div class="h-100 bg-skill-wheel rounded-3">
                                    <div id="dataviz_{{ profile.user_id }}"></div>
                                </div>
                            </div>
                            <div class="col-md-5 {% if forloop.counter|divisibleby:"2" %}order-md-1{% endif %}"
                                 data-aos="{% if forloop.counter|divisibleby:"2" %}fade-right{% else %}fade-left{% endif %}"
                                 data-aos-duration="600"
                                 data-aos-offset="280"
                                 data-disable-parallax-down="md">
                                <div class="d-flex flex-column h-100 bg-secondary rounded-3 py-5 px-4 px-lg-5">
                                    <h2 class="mb-xl-4">{{ profile.role }}</h2>
                                    {% for para in profile.description %}<p>{{ para }}</p>{% endfor %}
                                    <div class="mt-auto">
                                        <a class="btn btn-outline-primary" href="#role-{{ profile.user_id }}">Learn more</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            {% endfor %}
        {% else %}
            No profiles
        {% endif %}
    </section>
    {% include "main/snippets/skill-wheel.html" with mode="multi" %}
{% endblock content %}
