{% extends "main/base.page.html" %}
{% load static %}
{% block title %}
    Digital Research Competencies Framework
{% endblock title %}
{% block content %}
    <section id="about">
        <nav aria-label="breadcrumb">
            <ol class="pt-lg-2 pb-lg-3 pb-1 breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{% url 'index' %}">Home</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="{% url 'competencies' %}">Framework</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Roles</li>
            </ol>
        </nav>
        <div class="row">
            <div class="col-lg-11 col-xl-10 pe-lg-4 pe-xl-0">
                <h1 class="pb-2 pb-lg-3">Roles and job profiles</h1>
                <p class="fs-lg pt-2 pt-sm-3">The following profiles represent samples for a number of different dRTP roles.</p>
                {% if sample_data %}
                    {% for profile in sample_data %}
                        <h2 id="header-{{ profile.user_id }}" class="card-title text-primary">{{ profile.role }}</h2>
                        <div class="container mx-0 my-5 px-0">
                            <div class="row">
                                <div class="col-4">
                                    {% for para in profile.description %}<p class="card-text">{{ para }}</p>{% endfor %}
                                </div>
                                <div class="col-8">
                                    <div class="card rounded-1">
                                        <div class="card-body">
                                            <div id="dataviz_{{ profile.user_id }}"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    No profiles.
                {% endif %}
            </div>
            <aside class="col-lg-3 offset-xl-1">
                <div class="offcanvas-lg offcanvas-end" id="sidebar">
                    <div class="offcanvas-header">
                        <h4 class="offcanvas-title">Sidebar</h4>
                        <button class="btn-close ms-auto"
                                type="button"
                                data-bs-dismiss="offcanvas"
                                data-bs-target="#sidebar"
                                aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <h4 class="pt-1 pt-lg-0 mt-lg-n2"></h4>
                    </div>
                </div>
            </aside>
        </div>
    </section>
    <script>
document.addEventListener('DOMContentLoaded', function () {
    const sampleData = {{ sample_data|safe }};
    const skillLevelsLoadedFromContext = {{ skill_levels|safe }};

    // Function to render the radial bar chart
    function renderSkillWheel(userData, userId) {
        const radialBarChartConfig = {
            innerRadius: 0,
            width: 900,
            innerRadius: 200,
            outerPadding: 80,
            categoryPadding: 0.1,
            skillPadding: 0.05,
            arcPercent: 0.8,
            arcStartOffset: 0.1,
            annotationPadding: 10,
            lineThickness: 2,
            labelTextColor: "white",
            lvlTextColor: "var(--ar-primary)",
            lvlArcColor: "rgba(var(--ar-primary-rgb), 0.2)",
            colourList: [
                "#4E79A7", // blue
                "#F28E2B", // orange
                "#E15759", // red
                "#76B7B2", // teal
                "#59A14F", // green
                "#EDC948", // yellow
                "#B07AA1", // purple
                "#FF9DA7", // pink
                "#9C755F", // brown
                "#BAB0AC", // grey
            ],
        };

        const datavizRoot = document.getElementById('dataviz_'+userId);

        // Clear existing chart
        datavizRoot.innerHTML = '';

        main().RadialBarChart({
            target: datavizRoot,
            data: userData,
            levels: skillLevelsLoadedFromContext,
            config: radialBarChartConfig,
        });
    }

    window.loadSkillWheels = function() {
        for (let i = 0; i < sampleData.length; i++) {
            // Render the skill wheel
            renderSkillWheel(sampleData[i].user_data, sampleData[i].user_id);
        }
    };

    loadSkillWheels();
});
    </script>
{% endblock content %}
