{% extends "main/base_auth.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <section class="container pt-5 mt-5">
        {% if validlink %}
            <p>Please enter (and confirm) your new password.</p>
            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <input type="submit" class="btn btn-primary" value="Change my password">
            </form>
        {% else %}
            <h1>Password reset failed</h1>
            <p>
                The password reset link was invalid, possibly because it has already been used. Please <a href="{% url 'password_reset' %}">request a new password reset.</a>
            </p>
        {% endif %}
    </section>
{% endblock content %}
