{% extends "main/base.auth.html" %}
{% load crispy_forms_tags %}
{% block content %}
    {% if validlink %}
        <h1>Reset your password</h1>
        <p>Please enter your new password.</p>
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <input type="submit" class="btn btn-primary" value="Change my password">
        </form>
    {% else %}
        <h1>Password reset failed</h1>
        <p>
            The password reset link was invalid, possibly because it has already been used. Please <a href="{% url 'password_reset' %}">request a new password reset.</a>
        </p>
    {% endif %}
{% endblock content %}
