{% extends "../main/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <section class="container pt-5 mt-5">
        <h2>Reset password</h2>
        <p>Enter the email address you used to register.</p>
        <p>We'll send you an email with your username and a link to reset your password.</p>
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <input type="submit" class="btn btn-primary" value="Submit">
        </form>
    </br>
    <p>
        Back to <a href="{% url 'login' %}">login</a>.
    </p>
</section>
{% endblock content %}
