{% extends "main/base_auth.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <h1>Reset your password</h1>
    <p>Enter the email address you used to register.</p>
    <p class="pb-3 mb-3 mb-lg-4">We'll send you an email with your username and a link to reset your password.</p>
    {% if next and not user.is_authenticated %}
        <div class="alert alert-info">
            <p>Please login to see this page.</p>
        </div>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-lg btn-primary w-100 mb-4">Submit</button>
        <input type="hidden" name="next" value="{{ next }}">
    </form>
    <p class="pb-3 mb-3 mb-lg-4">
        Back to <a href="{% url 'login' %}">login</a>
    </p>
{% endblock content %}
