{% extends "main/base.auth.html" %}
{% block content %}
    <h1>Password reset email sent</h1>
    <p class="pb-3 mb-3 mb-lg-4">
        We've emailed you instructions for setting your password. If they haven't arrived in a few minutes, check your spam folder.
    </p>
    <p class="pb-3 mb-3 mb-lg-4">
        Back to <a href="{% url 'login' %}">login</a>
    </p>
    <p class="pb-3 mb-3 mb-lg-4">
        Back to <a href="{% url 'index' %}">home</a>
    </p>
    <p class="pb-3 mb-3 mb-lg-4">
        Get in <a href="{% url 'index' %}">touch</a>
    </p>
{% endblock content %}
