{% load static %}
<footer class="footer bg-secondary py-3 py-md-4 mt-2">
    <div class="container d-flex flex-column flex-lg-row justify-content-between align-items-center pt-1 py-sm-2 py-lg-4 py-xl-5">
        <div class="d-flex gap-3 mb-3 mb-sm-4 mb-lg-0">
            <a class="btn btn-icon btn-sm btn-secondary btn-github rounded-circle"
               href="https://github.com/direct-framework/direct-webapp"
               aria-label="Github">
                <i class="fa-brands fa-github"></i>
            </a>
            <a class="btn btn-icon btn-sm btn-secondary btn-mail rounded-circle"
               href="https://groups.google.com/g/direct-framework"
               aria-label="Mailing List">
                <i class="fa-solid fa-envelope"></i>
            </a>
            <a class="btn btn-icon btn-sm btn-secondary btn-slack rounded-circle"
               href="https://ukrse.slack.com/archives/C05CY0YFWEL"
               aria-label="Slack">
                <i class="fa-brands fa-slack"></i>
            </a>
        </div>
        <div class="nav flex-sm-nowrap justify-content-center mb-3 mb-sm-4 mb-lg-0">
            <a class="nav-link fw-normal border-end-lg px-2 px-sm-3 px-lg-4 py-1 py-sm-0 mx-0"
               href="{% url 'contact' %}">Get in Touch</a>
            <a class="nav-link fw-normal border-end-lg px-2 px-sm-3 px-lg-4 py-1 py-sm-0 mx-0"
               href="{% url 'privacy' %}">Privacy Policy</a>
            <a class="nav-link fw-normal px-2 px-sm-3 px-lg-4 py-1 py-sm-0 mx-0"
               href="{% url 'terms' %}">Terms &amp; Conditions</a>
        </div>
        <p class="text-body-secondary mb-0">© All rights reserved</p>
    </div>
</footer>
<!-- Back to top button -->
<a class="btn-scroll-top"
   href="#top"
   data-scroll
   aria-label="Scroll back to top">
    <svg viewBox="0 0 40 40"
         fill="currentColor"
         xmlns="http://www.w3.org/2000/svg">
        <circle cx="20" cy="20" r="19" fill="none" stroke="currentColor" stroke-width="1.5" stroke-miterlimit="10"></circle>
    </svg>
    <i class="fa-solid fa-arrow-up"></i>
</a>
<script src="{% static 'assets/js/vendor.bundle.js' %}"></script>
<script src="{% static 'assets/js/theme-switcher.js' %}"></script>
<script src="{% static 'assets/js/main.min.js' %}"></script>
