<table>
    <tr>
        <td>
            <a class="btn btn-primary btn-sm fs-sm order-lg-3 d-none d-sm-inline-flex"
                href="{% url 'index' %}">
                <i class="ai-login fs-xl me-2 ms-n1"></i>
                Tell us about yourelf...
            </a>
        </td>
    </tr>
    <tr>
        <td>
            <a class="btn btn-primary btn-sm fs-sm order-lg-3 d-none d-sm-inline-flex"
                href="{% url 'index' %}">
                <i class="ai-login fs-xl me-2 ms-n1"></i>
                ...understand your skills...
            </a>
        </td>
    </tr>
    <tr>
        <td>
            <a class="btn btn-primary btn-sm fs-sm order-lg-3 d-none d-sm-inline-flex"
                href="{% url 'index' %}">
                <i class="ai-login fs-xl me-2 ms-n1"></i>
                ...explore recommended career paths
            </a>
        </td>
    </tr>
    <tr>
        <td>
            <a class="btn btn-primary btn-sm fs-sm order-lg-3 d-none d-sm-inline-flex"
                href="{% url 'index' %}">
                <i class="ai-login fs-xl me-2 ms-n1"></i>
                Understand your team
            </a>
        </td>
    </tr>
</table>
