{% load static %}
<header class="navbar navbar-expand-lg fixed-top bg-secondary">
    <div class="container">
        <!-- Navbar brand -->
        <a class="navbar-brand pe-sm-3" href="{% url 'index' %}">
            <span class="text-primary flex-shrink-0 me-3">
                <img src="{% static 'assets/app-icons/logo.svg' %}"
                     alt="DIRECT"
                     width="40">
            </span>
            DIRECT
        </a>
        <!-- Theme switcher -->
        <div class="form-check form-switch mode-switch order-lg-2 me-3 me-lg-4 ms-auto"
             data-bs-toggle="mode">
            <input class="form-check-input" type="checkbox" id="theme-mode">
            <label class="form-check-label" for="theme-mode">
                <i class="fa-solid fa-sun fs-lg"></i>
            </label>
            <label class="form-check-label" for="theme-mode">
                <i class="fa-solid fa-moon fs-lg"></i>
            </label>
        </div>
        {% if user.is_authenticated %}
            <div class="dropdown nav d-none d-sm-block order-lg-3">
                <a class="nav-link d-flex align-items-center p-0"
                   href="{% url 'profile' %}"
                   data-bs-toggle="dropdown"
                   aria-expanded="false">
                    <div class="ps-2">
                        <div class="fs-xs lh-1 opacity-60">Hello,</div>
                        <div class="fs-sm dropdown-toggle">{{ user.username }}</div>
                    </div>
                </a>
                <div class="dropdown-menu dropdown-menu-end my-1">
                    <h6 class="dropdown-header fs-xs fw-medium text-body-secondary text-uppercase pb-1">Account</h6>
                    <a class="dropdown-item" href="{% url 'account-overview' %}">
                        <i class="fa-solid fa-user fa-fw opacity-70 me-2 icon-width"></i>
                        Overview
                    </a>
                    <a class="dropdown-item" href="{% url 'profile' %}">
                        <i class="fa-solid fa-address-card fa-fw opacity-70 me-2 icon-width"></i>
                        Update Profile
                    </a>
                    <a class="dropdown-item disabled" href="{% url 'profile' %}">
                        <i class="fa-solid fa-lock fa-fw opacity-70 me-2 icon-width"></i>
                        Change Password
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'self-assess' %}">
                        <i class="fa-solid fa-chart-pie fa-fw opacity-70 me-2"></i>
                        Assess Skills
                    </a>
                    <a class="dropdown-item" href="{% url 'skill_profile' %}">
                        <i class="fa-solid fa-chart-pie fa-fw opacity-70 me-2"></i>
                        View Skills
                    </a>
                    <div class="dropdown-divider"></div>
                    <form method="post" action="{% url 'logout' %}">
                        {% csrf_token %}
                        <button type="submit"
                                class="btn btn-link dropdown-item d-flex align-items-center justify-content-start py-2 px-4">
                            <i class="fa-solid fa-sign-out fa-fw opacity-70 me-2 icon-width"></i>
                            Sign out
                        </button>
                    </form>
                </div>
            </div>
        {% else %}
            <a class="btn btn-primary btn-sm fs-sm order-lg-3 d-none d-sm-inline-flex"
               href="{% url 'login' %}">
                <i class="ai-login fs-xl me-2 ms-n1"></i>
                Login
            </a>
        {% endif %}
        <!-- Mobile menu toggler -->
        <button class="navbar-toggler ms-sm-3"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNav"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Navbar collapse -->
        <nav class="collapse navbar-collapse" id="navbarNav">
            {% with request.resolver_match.url_name as url_name %}
                <ul class="navbar-nav navbar-nav-scroll me-auto"
                    style="--ar-scroll-height: 520px">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle"
                           href="#"
                           data-bs-toggle="dropdown"
                           data-bs-auto-close="outside"
                           aria-expanded="false">About</a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" href="{% url 'index' %}">What is DIRECT</a>
                            </li>
                            <li class="{% if url_name == 'about' %}active{% endif %}">
                                <a class="dropdown-item" href="{% url 'about' %}">How to use DIRECT</a>
                            </li>
                            <li class="{% if url_name == 'about' %}active{% endif %}">
                                <a class="dropdown-item" href="{% url 'about' %}">History of DIRECT</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle"
                           href="#"
                           data-bs-toggle="dropdown"
                           data-bs-auto-close="outside"
                           aria-expanded="false">Framework</a>
                        <ul class="dropdown-menu">
                            <li class="{% if url_name == 'competencies' %}active{% endif %}">
                                <a class="dropdown-item" href="{% url 'competencies' %}">Competencies framework</a>
                            </li>
                            <li class="{% if url_name == 'about' %}active{% endif %}">
                                <a class="dropdown-item" href="{% url 'about' %}">Skill levels</a>
                            </li>
                            <li class="{% if url_name == 'index' %}active{% endif %}">
                                <a class="dropdown-item" href="{% url 'about' %}">Training resources</a>
                            </li>
                            <li class="{% if url_name == 'index' %}active{% endif %}">
                                <a class="dropdown-item" href="{% url 'about' %}">Roles and job profiles</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle"
                           href="#"
                           data-bs-toggle="dropdown"
                           data-bs-auto-close="outside"
                           aria-expanded="false">Community</a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" href="{% url 'index' %}">Get involved</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{% url 'index' %}">Events</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item {% if url_name == 'self-assess' %}active{% endif %}">
                        <a class="nav-link" href="{% url 'self-assess' %}">
                            <i class="fa-solid fa-bolt fs-lg me-2"></i>
                            Start Using
                        </a>
                    </li>
                </ul>
            {% endwith %}
        </nav>
    </div>
</header>
