<!-- Share dropdown

This template implements a share dropdown menu for the skill profile page.
It includes options to open a shareable link, copy the link, and export the skill profile as CSV or JSON.

-->
<div class="dropdown nav d-none d-sm-block order-lg-3 justify-content-end">
    <li class="nav-item d-flex align-items-center justify-content-end">
        <a class="nav-link dropdown-toggle justify-content-end"
           href="#"
           data-bs-toggle="dropdown"
           data-bs-auto-close="outside"
           aria-expanded="false">Share</a>
        <ul class="dropdown-menu">
            <li>
                <a class="dropdown-item export-skill-profile-link"
                   id="shareable-link"
                   href="#"
                   target="_blank"
                   rel="noopener noreferrer">Open Link <i aria-label="Copy sharable link" class="fa-solid fa-link"></i></a>
            </li>
            <li>
                <button class="dropdown-item export-skill-profile-link-copy"
                        id="copy-link-button">
                    Copy Link <i aria-label="Copy sharable link" class="fa-solid fa-copy"></i>
                </button>
            </li>
            {% include "main/snippets/create_user_skill_profile_link.html" %}
            {% if allow_export %}
                <li>
                    <a class="dropdown-item export-skill-profile-csv"
                       href="{% url 'download-csv-data-link' %}"
                       id="copy-link-button">Export as CSV</a>
                </li>
                <li>
                    <a class="dropdown-item export-skill-profile-json"
                       href="{% url 'download-json-data-link' %}"
                       id="copy-link-button">Export as JSON</a>
                </li>
            {% endif %}
        </ul>
    </li>
</div>
