{% extends "main/base.html" %}
{% block content %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-12">
                <h1>About the Project</h1>
                <p>
                    The Digital Research Competencies Framework is designed to help researchers identify the skills they need, define development pathways, and progress their careers in research software.
                </p>
                <p>
                    For more information, please contact us at <a href="mailto:">email</a>.
                </p>
            </div>
        </div>
    </div>
{% endblock content %}
