<!DOCTYPE html>
<html lang="en" data-bs-theme="light">
    <head>{% include "main/snippets/head.html" %}</head>
    <body class="{% block body_class %}{% endblock body_class %}">
        {% include "main/snippets/page-loading.html" %}
        {% include "main/snippets/navbar.html" %}
        <main class="page-wrapper">
            {% block page %}
                {% block content %}
                {% endblock content %}
            {% endblock page %}
        </main>
        {% include "main/snippets/footer.html" %}
    </body>
</html>
