{% extends "main/base.html" %}
{% load static %}
{% load django_bootstrap5 %}
{% block title %}
RSE Competencies Toolkit
{% endblock title %}
{% block content %}
<section class="container pt-5 mt-lg-3 mt-xl-4 mt-xxl-5">
  <h2>Example Competencies DataViz</h2>
  <p>The data visualisation below presents your core skills and competencies.</p>
  <div>
    <h3>Data loaded using Django template data</h3></h23>
    <div id="dataviz_root">Loading data viz...</div>
  </div>
  <div>
    <h3>Random data generated locally</h3>
    <div id="dataviz_root_random">Loading data viz...</div>
  </div>
  <hr>
</section>
{% endblock content %}
{% block endscripts %}
<script>

  // Generate demo locally
  const generateRandomData = (n, categoryCount) =>
      Array.from({ length: n }, (_, i) => ({
        skill: `skill-${i}`,
        category: `category-${Math.floor(Math.random() * categoryCount)}`,
        skill_level: Math.floor(Math.random() * 10),
      }))
  // dataviz().renderRadialPlot('dataviz_root',generateRandomData(20, 5));

  // Generate demo from server using Django template
  main().renderRadialPlot('dataviz_root', {{ data| safe }}, {
    innerRadius: 0,
    width: 640,
    // height: _height:undefined,
    innerRadius: 80,
    outerPadding: 100,
    categoryPadding: 0.1,
    skillPadding: 0.05,
    arcPercent: 0.8,
    arcStartOffset: 0.1,
    annotationPadding: 10,
    lineThickness: 2,
    labelTextColor: "black",
    lvlTextColor: "#ccc",
    lvlArcColor: "#121519",
    // colourList:d3.schemeAccent,
  });

    main().renderRadialPlot('dataviz_root_random', generateRandomData(5,4), {
    innerRadius: 0,
    width: 640,
    // height: _height:undefined,
    innerRadius: 80,
    outerPadding: 100,
    categoryPadding: 0.1,
    skillPadding: 0.05,
    arcPercent: 0.8,
    arcStartOffset: 0.1,
    annotationPadding: 10,
    lineThickness: 2,
    labelTextColor: "black",
    lvlTextColor: "#ccc",
    lvlArcColor: "#121519",
    // colourList:d3.schemeAccent,
  });

</script>
{% endblock endscripts %}
