{% extends "main/base.html" %}
{% load static %}
{% load django_bootstrap5 %}
{% block title %}
    Digital Research Competencies Framework
{% endblock title %}
{% block content %}
    <!-- Hero -->
    {% include "main/snippets/hero.html" %}
    <!-- Features grid -->
    <section class="container pt-5 mt-lg-3 mt-xl-4 mt-xxl-5">
        <div class="row pt-2 pt-md-4 pt-lg-3 pt-xl-4 g-4 g-sm-3 g-md-4">
            <div class="col-lg-8 order-lg-1">
                <div class="d-md-flex h-100 bg-primary rounded-5 overflow-hidden px-4 px-sm-5 pt-5 pb-5">
                    <div class="d-md-flex row">
                        <div class="text-center text-md-start pe-sm-3 col-5">
                            <h2 class="h1 text-white pb-2 pb-md-3 mb-lg-4 col-4">Track and manage your professional development</h2>
                            <a class="btn btn-icon btn-xl btn-warning rounded-circle"
                               href="https://www.youtube.com/watch?v=NpQFhwqBgg4"
                               data-bs-toggle="video"
                               aria-label="Play video">
                                <i class="fa-solid fa-play fs-lg"></i>
                            </a>
                        </div>
                        <div class="col">
                            <img src="{% static 'assets/img/auth/cover.webp' %}"
                                 alt="Skills wheel visualisation"
                                 class="img-fluid w-100 h-100"
                                 style="object-fit: cover;
                                        border-radius: 1rem">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 order-lg-2">
                <div class="card border-0 bg-secondary h-100 py-lg-2 py-xl-4 text-center">
                    <div class="card-body">
                        <h3>A framework for success</h3>
                        <p class="mb-4">
                            The DIRECT Framework is a community model that defines the knowledge, skills, and behaviours that individuals need to attain to succeed in research software roles.
                        </p>
                        <a class="btn btn-lg btn-primary" href="{% url 'competencies' %}">View Framework</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Features list -->
    <section class="container pt-5 pb-4 mb-2 my-lg-3 my-xl-4 my-xxl-5">
        <div class="row justify-content-center pt-2 pt-sm-3 pt-md-4 mt-lg-2 pb-lg-2 pb-xl-0">
            <div class="col-sm-11 col-md-9 col-lg-8 col-xl-7 col-xxl-6 text-center">
                <h2 class="h1 mb-0"></h2>
            </div>
        </div>
        <div class="col-md-6 col-xl-5 order-md-1 pt-xl-2"
             data-aos="fade-up"
             data-aos-duration="850"
             data-aos-offset="200"
             data-disable-parallax-down="md">
            <div class="pe-md-3 pe-xl-0">
                <h3 class="h2 mb-lg-4">A competencies framework for Digital Research Technical Professionals</h3>
                <p class="mb-0">
                    The DIRECT Framework is a community resource to support dRTPs (Digital Research Technical Professionals) in tracking and managing their professional development.
                </p>
            </div>
        </div>
    </section>
{% endblock content %}
