{% extends "main/base.page.html" %}
{% block body_class %}
    bg-secondary
{% endblock body_class %}
{% load static %}
{% load crispy_forms_tags %}
{% load django_bootstrap5 %}
{% block title %}
    Digital Research Competencies Framework
{% endblock title %}
{% block content %}
    <!-- Page container -->
    <section id="skill-profile" class="container">
        <div class="row pt-sm-2 pt-lg-0">
            <!-- Page content -->
            <div class="col-lg-9 pb-2 pb-sm-4">
                <section class="card border-0 mb-4">
                    <div class="card-body">
                        <h1>Shared Skills profile</h1>
                        <p class="lead">
                            Explore a shared skill level profile in the Digital Research Competencies Framework
                            using the interactive Skills Wheel. Each segment represents a competency,
                            with size according to the self-assessed level.
                        </p>
                        <div id="dataviz_root" style="width:100%"></div>
                        {% include "main/snippets/skill-wheel.html" %}
                        <button class="export-skill-profile btn btn-primary mt-4">Export as CSV</button>
                        {% include "main/snippets/export_user_skill_profile.html" %}
                        <button class="export-skill-profile-link btn btn-secondary mt-4">Generate shareable link</button>
                        {% include "main/snippets/create_user_skill_profile_link.html" %}
                    </div>
                </section>
            </div>
        </div>
    </section>
{% endblock content %}
