{% extends "main/base.html" %}
{% block body_class %}
    bg-secondary
{% endblock body_class %}
{% load static %}
{% load crispy_forms_tags %}
{% load django_bootstrap5 %}
{% block title %}
    Digital Research Competencies Framework
{% endblock title %}
{% block content %}
    <!-- Page container -->
    <div class="container py-5 mt-4 mt-lg-5 mb-lg-4 my-xl-5">
        <nav aria-label="breadcrumb">
            <ol class="pt-lg-3 pb-lg-4 pb-2 breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{% url 'index' %}">Home</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="{% url 'account-overview' %}">Profile</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">View Skills</li>
            </ol>
        </nav>
        <div class="row pt-sm-2 pt-lg-0">
            <!-- Sidebar (offcanvas on screens < 992px) -->
            <aside class="col-lg-3">
                <div class="position-lg-sticky competencies-sticky">
                    <div class="offcanvas-lg offcanvas-start" id="sidebarAccount">
                        <button class="btn-close position-absolute top-0 end-0 mt-3 me-3 d-lg-none"
                                type="button"
                                data-bs-dismiss="offcanvas"
                                data-bs-target="#sidebarAccount"
                                aria-label="Close"></button>
                        <div class="offcanvas-body">
                            <div class="mb-3">
                                <h3 class="h5 mb-1">{{ request.user.username }}</h3>
                                <p class="fs-sm text-body-secondary mb-0">{{ request.user.email }}</p>
                            </div>
                            {% with request.resolver_match.url_name as url_name %}
                                <div class="d-flex gap-2 mb-4">
                                    <a href="{% url 'self_assess' %}"
                                       class="btn {% if url_name == 'self_assess' %}btn-primary{% else %}btn-secondary{% endif %}">
                                        Assessment
                                    </a>
                                    <a href="{% url 'skill_profile' %}"
                                       class="btn {% if url_name == 'skill_profile' %}btn-primary{% else %}btn-secondary{% endif %}">
                                        Skills Wheel
                                    </a>
                                </div>
                            {% endwith %}
                        </div>
                    </div>
                </div>
            </aside>
            <!-- Page content -->
            <div class="col-lg-9 pb-2 pb-sm-4">
                <section class="card border-0 mb-4">
                    <div class="card-body">
                        <h1>Skills Wheel Visualisation</h1>
                        <p class="lead">
                            Explore your skill levels in the Digital Research Competencies Framework
                            using the interactive Skills Wheel. Each segment represents a competency,
                            with size according to your self-assessed level.
                        </p>
                        <div id="dataviz_root" style="width:100%"></div>
                        <script>
    document.addEventListener('DOMContentLoaded', function () {
        const datavizRoot = document.getElementById('dataviz_root');
        const radialBarChartConfig = {
            width: 900,
            height: 700,
            plotYOffset: 60,
            // height: _height:undefined,
            innerRadius: 140,
            outerPadding: 100,
            categoryPadding: 0.1,
            skillPadding: 0.01,
            arcPercent: 0.99,
            arcStartOffset: 0.01,
            annotationPadding: 20,
            maxLabelWidth: 180,
            lineThickness: 2,
            fontSize: 20,
            labelXOffset: 1.05,
            labelYSpacing: 40,
            lvlLabelType: "none",
            labelTextColor: "white",
            lvlTextColor: "var(--ar-primary)",
            lvlArcColor: "rgba(var(--ar-primary-rgb), 0.2)",
            colourList: [
                "#4E79A7", // blue
                "#F28E2B", // orange
                "#E15759", // red
                "#76B7B2", // teal
                "#59A14F", // green
                "#EDC948", // yellow
                "#B07AA1", // purple
                "#FF9DA7", // pink
                "#9C755F", // brown
                "#BAB0AC", // grey
            ],
        }
        const userDataLoadedFromContext = {{ user_data|safe }};
        const skillLevelsLoadedFromContext = {{ skill_levels|safe }}.filter(lvl => lvl.level > 0);
        main().RadialBarChart({
            target: datavizRoot,
            data:  userDataLoadedFromContext,
            levels: skillLevelsLoadedFromContext,
            config: radialBarChartConfig,
        });
    });

                        </script>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <!-- Divider for dark mode only -->
    <hr class="d-none d-dark-mode-block">
    <!-- Sidebar toggle button -->
    <button class="d-lg-none btn btn-sm fs-sm btn-primary w-100 rounded-0 fixed-bottom"
            type="button"
            data-bs-toggle="offcanvas"
            data-bs-target="#sidebarAccount">
        <i class="ai-menu me-2"></i>
        Account menu
    </button>
{% endblock content %}
