name: Add Contributors

on:
  push:
    branches: [main]

jobs:
  contributors:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: All Contributors Auto Action
        uses: JoshuaKGoldberg/all-contributors-auto-action@v0.5.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
